.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 8px;
}

.nav-link {
    text-decoration: none;
    color: white;
    padding: 10px 15px;
    font-weight: bold;
}